@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.jumbotron{
    position: relative;
    background: url('/img/header.jpg') no-repeat right top;
    color:white;
    padding-top: 0%;   

    font-family: 'Roboto Slab', serif;

    &::before{ 
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($dark-teal, .5);

    }


    @include respond-to('lg'){
        padding: {
            //top: 8rem;
            bottom: 4rem;
        }
    }

    @include respond-to('sm'){
        padding: {
            bottom: 2rem;
        };
    }

    .container{
        position: relative;
        z-index: 99;
        @include respond-to('sm'){
            padding: {
                left: 0;
                right: 0;
            }
        }

        @include respond-to('lg'){
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }

    .container-jumbotron{
        @include respond-to('lg'){
            padding: {
                top: 4rem;
            }
        }

        @include respond-to('sm'){
            padding: {
                top: 2rem;
            }
        }
        
    }
}