@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.navbar{
    position: relative;
    font-family: 'Roboto Slab', serif;

    &::before{ 
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(white, .1);

    }

    .container{
        position: relative;
        z-index: 999;
        font-weight: bold;
    }


    .dropdown-item{
        color: white;
   

        &:hover{
            color: $green;
        }

        &:active{
            background-color: white;
            color: $green-alpha;
        }
    }
}

.bg-nav-green{
    background-color: $green-alpha;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: white;
    outline: 5px auto green;
    &:focus{
        outline: 5px auto green;
    }
  } 


 .nav-pills>li>a.active{
   background-color: $green !important;
   color: white ;
}

.nav-pills{
    a{
        color: $green;
    }
   
}