.custom-control-input{
    
    &:checked ~.custom-control-label{
            &::before {
            color: #fff;
            border-color: green;
            background-color: green;
            }
        }
}

.toggle{
    display: none;
}