.map-bg{
    position: relative;
    width: 1000px;
    height: 300px;
}

.container-location{
    position: relative;
    padding-bottom: 2rem;

}

@keyframes spinning{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg); 
    }
}

#animate-card{
    position: relative;
   /*  margin: 150px auto;
    width: 200px;
    height: 200px; */
    animation: spinning linear 4s 1 forwards;
}
