.img-shadow{
    @include box-shadow('sh2');
}

.img-transition{
    transition: transform 1.2s;
}

.img-transition:hover {
    transform: scale(1.05);
}

.content-wrap-sr{
    padding-bottom: 10rem;
    
}
