@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}


@mixin when-have($context) {
    &#{$context}{
        @content;
    }
}


@mixin box-shadow($shadow) {
    @if map-has-key($shadows, $shadow ){
        box-shadow: map-get($shadows, $shadow);
    }
}



@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}
