/* COLORS */
$dark-teal:rgb(65, 105, 94);
$teal: rgb(98,156,140);
$dark-red: #b50e0e;
$error: rgba($dark-red, 0.8);
$green: rgb(60, 179, 113);
$green-alpha:rgba($green, 0.7);
$green-dark:rgb(42, 122, 78);
$coral-light:rgb(250, 220, 209);

/* BREAKPOINTS */
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

//SIZES
$s-2: 2px;

//SHADOWS
$shadows:(
    
    'sh1': 0 ($s-2 * 2) ($s-2 * 4) 0 rgba(0, 0, 0, 0.12),
    'sh2': 0 ($s-2 * 4) ($s-2 * 8) 0 rgba(0, 0, 0, 0.15),
    'sh3': ($s-2 * 8) ($s-2 * 8) ($s-2 * 12) rgba(0, 0, 0, 0.19)
);

// GRADIENT LISTS
$list1: $green-dark, $green, $green-alpha; 
$list2: $green-dark 0%,$green-dark 33%,$green 33%,$green 66%, $green-alpha 66%, $green-alpha 100%; 
$list3: $green-dark 0%,$green-alpha 5%,$green 20%,$green-alpha 40%,$green 75%,$green-alpha 100%; 
