.footer-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; 
    background-color: $green;
   
 &:before{
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0px;
    top: 25px;
    background-color: $green;
    box-shadow: 0 -25px 10px #777777;
    z-index: -1; 

}

}   
    .container-footer{
        position: relative;
        z-index: 99;
        padding: {
            top: 0.5rem;
            bottom: 0.5rem;
        }
        font-size: 0.8em;

        a{
            color: $coral-light;
        }
    }